<div class="main">
  <h1>An Intuitive Grasp on Segmentation Metrics</h1>
  <h2>MICCAI Educational Challenge 2022</h2>

  <div class="animation-container">
    <div matTooltip="Reference" class="moving-shape circle"></div>
    <div matTooltip="Prediction" class="moving-shape square"></div>
  </div>
  <p>
    <i>
      Semantic segmentation consists in classifying all the pixels of an image
      into different predefined classes. It has many usecases, in particular for
      medical images, where segmentation (implicitely or explicitely) is often a
      prerequisite to the diagnosis. The segmented structures, either healthy or
      pathological, have many shapes and sizes. A lot of research is dedicated
      to developping models for automatically segmenting these.
    </i>
  </p>
  <p>
    This website has been conceived to provide an intuitive understanding of
    different segmentation metrics. Two canvases are provided to draw a
    reference and a <i>simulated</i> prediction. Metrics are computed on the
    fly. By hovering over them, a quick description is provided for each. To
    illustrate the benefits and pitfalls of the differents metrics, we designed
    different presets (binary, multi-class, and two real images; one captured
    with Optical Coherence Tomography (OCT) and the other with fundus). For each
    preset, we also provide different interactive scenarios.
    <b> However, we encourage testing custom cases! </b> <br /><br />

    Modify the groundtruths and the predicted segmentations of those presets and
    scenarios and see how the metrics behave. Create your own groundtruth. Check
    the confusion matrices and observe the metrics per class or in their micro
    and macro averages.
  </p>
  <p>
    This tool was made to provide total freedom to the experimenter. Feel free
    to twist it for your own usecase !
  </p>
  <button class="start" mat-raised-button routerLink="/main/segmentation" color="accent">
    START
  </button>
  <div class="spacer"></div>


  <div class="warning-panel">
    <h3>Warning!</h3>
    <p>Even if most functionalities <i>should</i> work on mobile devices, this tool is meant to be used on computers.
      Most of the pedagogical content is provided by hovering over elements.
    </p>
  </div>


  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <h2>Authors</h2>
  PLAYOUT Clément, MSc., PhD candidate <br />
  RICHER Emmanuelle, MSc., PhD candidate <br />
  LEPETIT-AIMON Gabriel, MSc., PhD candidate <br />

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>



  <h2>Sources</h2>
  <i
    >This project is open-sourced, under GNU-3 licence. Features request, pull request or fork are welcome.</i
  >
  <a
    href="https://github.com/ClementPla/SegmentationMetricTutorial/tree/main/src"
    >Source code for the website</a
  >
  <a
    href="https://github.com/ClementPla/SegmentationMetricTutorial/blob/main/src/app/statistic.ts"
    >Source code (javascript) for the metrics implementation</a
  >
  <br />

  <div class="spacer"></div>
</div>
