<div class="preset-container" [ngSwitch]="UICtrlService.currentPreset">
  <div *ngSwitchCase="0">
    <span>

      <button mat-raised-button color="primary" (click)="getPreset(0)"> Test</button>
      <button mat-raised-button color="primary" (click)="getPreset(1)"> Perfect boundaries</button>
      <button mat-raised-button color="primary" (click)="getPreset(2)"> Perfect segmentation</button>
      <button mat-raised-button color="primary" (click)="getPreset(2)"> 50% precision</button>
      <button mat-raised-button color="primary" (click)="getPreset(2)"> 50% sensitivity</button>
      <button mat-raised-button color="primary" (click)="getPreset(2)"> 50% sensitivity</button>

      <button mat-raised-button color="primary" (click)="getPreset(2)"> 50% sensitivity</button>
      <button mat-raised-button color="primary" (click)="getPreset(2)"> 50% sensitivity</button>

    </span>
  </div>
</div>
