<div *ngIf="visible" class="container" [ngSwitch]="typeTooltip">

  <div *ngSwitchCase="'Groundtruth'">
    La description de la groundtruth
  </div>

  <div *ngSwitchCase="'Precision'">
    La description de la groundtruth

  </div>

  <div *ngSwitchCase="'Accuracy'">
    La description de la groundtruth
  </div>
  <div *ngSwitchCase="'Dice'">
    La description de la groundtruth
  </div>
  <div *ngSwitchCase="'Precision'">
    La description de la groundtruth
  </div>
  <div *ngSwitchCase="'Specificity'">
    La description de la groundtruth
  </div>


</div>
