@import "src/variables.scss";

.container{
  position: absolute;
  width: fit-content;
  transform: translate(-25%, 0);
  background-color: $dark-gray;
  z-index: 50;
  padding: 2px 2px;
  color: white;
  border-radius: 0.2rem;
}
