@import "src/variables.scss";

.container {
  position: absolute;
  background-color: rgba(139, 136, 136, 0.7);
  backdrop-filter: blur(10px);
  border-width: 2px;
  border-color: $dark-gray;
  border-style: solid;
  z-index: 50;
  padding: 5px 5px;
  color: white;
  border-radius: 0.2rem;
  pointer-events: none;
  width: 450px;
}

.text{
  text-align: justify;
  text-justify: inter-word;
}

img{
  height: 250px;
}

.container-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}