
<div class="container">
  <table class="confusion-matrix">
    <tr>
      <td colspan="2" rowspan="2">
      </td>
      <th [attr.colspan]=classes.length>Groundtruth</th>
    </tr>
    <tr>
      <th *ngFor="let class of classes">C. {{class}}</th>
    </tr>
    <tr *ngFor="let class of classes; let isFirst = first; let row = index">
      <th class=predictedCell *ngIf="isFirst" [attr.rowspan]="classes.length">
        <div>Predicted</div></th>
      <th>C. {{class}}</th>
      <td *ngFor="let class of classes; let col = index">{{confusionMatrix[row][col]}}</td>
    </tr>
  </table>

  <div class="metric-container">
    <table>
      <tr>
        <th>Metric</th>
        <th>Score</th>
        <th>Average Macro</th>
        <th>Average Micro</th>
        <th *ngFor="let c of classes">C. {{c}}</th>
      </tr>
      <tr *ngFor="let score of scores; let i=index">
        <th>{{score.name}}</th>
        <td>{{formatScore(score.score)}}</td>
        <td (mouseenter)="boldMacro=i"
            (mouseleave)="boldMacro=-1">{{formatScore(score.macroAverage)}}
          </td>
        <td>{{formatScore(score.microAverage)}}</td>
        <td *ngFor="let s of score.perClassScore" [ngStyle]="{'font-weight':boldMacro==i ? 'bold': ''}"
        >{{formatScore(s)}}</td>

      </tr>
    </table>
  </div>

  <div>
    <button mat-button (click)="buildGroundtruth(0)">Scenario 1</button>
    <button mat-button (click)="buildGroundtruth(1)">Scenario 2</button>
    <button mat-button (click)="buildGroundtruth(2)">Scenario 3</button>

  </div>

  <mat-slider min="1" max="25" value="5" (input)="resizeBrush($event)" thumbLabel step="0.5"></mat-slider>

  <div class="drawZone flex-horizontal">
    <canvas #canvasVisu id="canvasVisu"></canvas>
    <div class="flex-horizontal">
      <div class="color-panel">
        <button mat-button *ngFor="let class of classes, let i = index"
          (click)="changeActiveColor(i)"
          [ngStyle]="{'background-color':getRGBStyleFromClass(i)}">{{class}}</button>
      </div>
      <div class="canvas-container demo">

        <div #cursor class="cursor" [ngStyle]="{'border-color':getRGBStyleFromClass(currentClass),
          'top':cursorPosition.y+'px',
          'left':cursorPosition.x+'px',
          'width':  2*currentRadius*upscaleFactor +'px'
            }">
        </div>

        <canvas #canvasEvent id="canvasEvent"></canvas>
        <canvas #canvas id="canvasDraw"></canvas>
        <canvas #canvasGroundtruth id="canvasGroundtruth"></canvas>
        <div id="uniformBackground"></div>
      </div>
  </div>
  </div>
</div>

