@import "../../../variables.scss";

mat-slider{
  width: 100%;
}

mat-toolbar{
  width: inherit;
}


.central-container{
  --canvas-width: 512px;
  --options-width: 150px;
  flex-flow: wrap;
  flex-direction: row;
  align-items: stretch;
  margin-left: auto; margin-right: auto;
  max-width: calc(var(--canvas-width) * 2);
}


.metric-container{
  font-size: small;
  width: fit-content;
  position: relative;
  flex-flow: wrap;
}

.draw-container{
  flex-flow: wrap;
}

.sizeButton{
  height: 3em;
}

.panel-options > mat-button-toggle-group{
  overflow: visible;
}

.growFlex{
  flex-grow: 2;
}

.verticalGroup{
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

#classSelector{
  display: flex;
  width: 100%;
  overflow: visible;
  border: none;
}

#classSelector .mat-button-toggle-checked{
  filter: brightness(1);
  border: white 1px solid;
}

#classSelector mat-button-toggle{
  filter: brightness(.5);
  font-weight: bold;
  box-sizing: border-box;
}

#spacer{
  flex-grow: 1;

}
.panel-options{
  height: 70px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.canvas-container{
  position: relative;
  aspect-ratio: 1;
  width: var(--canvas-width);
  height: var(--canvas-width);
  cursor: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.canvas-container > *{
  position: absolute;
  width: var(--canvas-width);
  aspect-ratio: 1;
}

#canvasDraw{
  z-index: 1;
  opacity: 95%;
  mix-blend-mode:screen;
}

#canvasVisu{
  width: var(--canvas-width);
  aspect-ratio: 1;
  mix-blend-mode:normal;
}

#canvasGroundtruth{
  z-index: -2;
  opacity: 25%;
}

.canvas-container > .cursor{
  z-index: 5;
  position: absolute;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: top left;
}

.cursor > .cursor-radius
{
  position: relative;
  width: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  pointer-events: none;
  transform-origin: center;
  animation: rotation 20s infinite linear;
  background: radial-gradient(circle, white 0%, white 3%, rgba(25,25,25,0.2) 3%, rgba(25,25,25,0.2) 100%);
}

.cursor > mat-icon{
  position: absolute;
  top: 0;
  left:50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.color-panel{
  display: flex;
  flex-direction: column;
}
.color-panel > button{
  color: rgb(250, 250, 250);
}

.canvas-label{
  z-index: 50;
  width: fit-content;
  height: fit-content;
  position: absolute;
  pointer-events: none;
}

.imgBackground{
  z-index: -10;
}

canvas{
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
}

.active-color{
  width: fit-content;
  color: white;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
