@import "../../../variables.scss";

$canvasMinSize: 300px;
$toolbarHeight: 1vh;
$canvasWidth: 30vw;
$canvasGap: 0.5em;
$panelToolGap: 1em;
$marginLeft: 2em;
$estimatedSize: calc(2 * $canvasWidth + $canvasGap);

.mat-toolbar-height {
  height: $toolbarHeight !important;
  width: 100%;
  margin: auto;
}
.short-text { display: none; }

@media (max-width: 1200px) {
  .short-text { display: inline-block; }
  .long-text { display: none; }
}

.spinning-wheel{
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  top: 0;
  left: 0;

  mat-spinner{
    left: 50%;
    top: 50%;
    scale: 2;
    transform: translate(-50%, -50%);
}
}

.central-container {
  position: relative;
  width: $estimatedSize;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  app-presets{
    width: 100%;

  }
}


mat-button-toggle{
  * {
    aspect-ratio: 1;
  }
}

.draw-container {
  width: fit-content;
  gap: $canvasGap;
}

mat-button-toggle {
  width: 100%;
}

.growFlex {
  flex-grow: 1;
}

.verticalGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.panel-options {
  width: 100%;
  gap: $panelToolGap;
  flex-wrap: wrap;
  mat-slider {
    width: 100%;
  }
  #classSelector{
    border: none;
    flex-wrap: wrap;
    max-width: $estimatedSize;

  }
  #classSelector .mat-button-toggle-checked {
    filter: brightness(1);
    border: white 1px solid;
  }

  #classSelector mat-button-toggle {
    filter: brightness(0.5);
    width: fit-content;
  }
}

.canvas-container {
  overflow: hidden;
  position: relative;
  width: $canvasWidth;
  min-width: $canvasMinSize;
  aspect-ratio: 1;
  cursor: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.canvas-container > * {
  position: absolute;
  width: inherit;

}

.canvas-container{
  canvas{
    min-width: $canvasMinSize;
  }
  img{
    min-width: $canvasMinSize;
  }
}

#canvasDraw {
  z-index: 1;
  mix-blend-mode: screen;
}

#canvasVisu {
  aspect-ratio: 1;
  mix-blend-mode: normal;
  opacity: 50%;
}

#canvasGroundtruth {
  z-index: -2;
  opacity: 50%
}


.canvas-label {
  position: absolute;
  z-index: 50;
  pointer-events: none;
}

.imgBackground {
  z-index: -10;

}

canvas {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}


// Cursor
.canvas-container > .cursor {
  z-index: 5;
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: top left;
}

.cursor > .cursor-radius {
  position: relative;
  width: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  pointer-events: none;
  transform-origin: center;
  animation: rotation 20s infinite linear;
  background: radial-gradient(circle,
      white 0%,
      white 5%,
      rgba(100, 100, 100, 0.5) 3%,
      rgba(100, 100, 100, 0.5) 100%);
}

.cursor > mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-75%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
