
<div class="container">
  <div class="table-container flex-horizontal">
    <table class="confusion-matrix">
      <tr>
        <td colspan="2" rowspan="2">
            <span></span>
        </td>
        <th [attr.colspan]=classes.length>Groundtruth</th>
      </tr>
      <tr>
        <th *ngFor="let class of classes, let i = index" (mouseenter)="changeActiveClass(i)">C. {{class}}</th>
      </tr>
      <tr *ngFor="let class of classes; let isFirst = first; let row = index" (mouseenter)="changeActiveClass(row)">
        <th class=predictedCell *ngIf="isFirst" [attr.rowspan]="classes.length">
          <div>Predicted</div></th>
        <th>C. {{class}}</th>
        <td *ngFor="let class of classes; let col = index" [ngClass]="stateCMatrix[row][col]">{{confusionMatrix[row][col]}}</td>
      </tr>
    </table>

    <table class="confusion-matrix">
      <tr>
        <td colspan="2" rowspan="2">
            <span></span>
        </td>
        <th [attr.colspan]=classes.length>Groundtruth</th>
      </tr>
      <tr>
        <th *ngFor="let class of classes, let i=index" (mouseenter)="changeActiveClass(i)">C. {{class}}</th>
      </tr>
      <tr *ngFor="let class of classes; let isFirst = first; let row = index" (mouseenter)="changeActiveClass(row)">
        <th class=predictedCell *ngIf="isFirst" [attr.rowspan]="classes.length">
          <div>Predicted</div></th>
        <th>C. {{class}}</th>
        <td *ngFor="let class of classes; let col = index" [ngClass]="stateCMatrix[row][col]">{{stateCMatrix[row][col]}}</td>
      </tr>
    </table>

    <div class="metric-container">
      <table>
        <tr>
          <th>Metric</th>
          <th>Score</th>
          <th>Micro-average</th>
          <th>Macro-average</th>
          <th *ngFor="let c of classes">C. {{c}}</th>
        </tr>
        <tr *ngFor="let score of scores; let i=index">
          <th>{{score.name}}</th>
          <td>{{formatScore(score.score, (score.name=='Kappa')? false: true, (score.name=='Kappa')? 2: 1)}}</td>
          <td>{{formatScore(score.microAverage)}}</td>
          <td (mouseenter)="boldMacro=i"
              (mouseleave)="boldMacro=-1">{{formatScore(score.macroAverage)}}
          </td>
          <td *ngFor="let s of score.perClassScore; let j=index" [ngStyle]="{'font-weight':boldMacro==i ? 'bold': ''}"
          (mouseenter)="changeActiveClass(j)">{{formatScore(s)}}</td>

        </tr>
      </table>
    </div>
  </div>

  <div>
    <button mat-button (click)="buildGroundtruth(0)">Scenario 1</button>
    <button mat-button (click)="buildGroundtruth(1)">Scenario 2</button>
    <button mat-button (click)="buildGroundtruth(2)">Scenario 3</button>
  </div>
  <div class="flex-horizontal">
    <div class="active-color" [ngStyle]="{'background-color':getRGBStyleFromClass(currentClass)}">
      Active Color
    </div>
    <button mat-button (click)="changeTool('draw')">Draw</button>
    <button mat-button (click)="changeTool('fill')">Fill</button>
  </div>
  <label for="sliderRadius">Radius</label>
  <mat-slider id="sliderRadius" valueText="Radius" min="1" max="25" value="5"
  (input)="resizeBrush($event)" thumbLabel step="0.5"></mat-slider>
  <label for="canvasVisu">Groundtruth</label>
  <div class="drawZone flex-horizontal">
    <canvas #canvasVisu id="canvasVisu"></canvas>
    <div class="flex-horizontal">
      <div class="color-panel">
        <button mat-button *ngFor="let class of classes, let i = index"
          (click)="changeActiveClass(i)"
          [ngStyle]="{'background-color':getRGBStyleFromClass(i)}">{{class}}</button>
      </div>
      <div class="canvas-container demo" [ngStyle]="{'--width':canvasScreenSize+'px'}">
        <div #cursor class="cursor" [ngStyle]="{'border-color':getRGBStyleFromClass(currentClass),
          'top':cursorPosition.y+4+'px',
          'left':cursorPosition.x+4+'px',
          'width':  2*currentRadius*upscaleFactor +'px'
            }">
        </div>
        <canvas #canvasEvent id="canvasEvent"></canvas>
        <canvas #canvas id="canvasDraw"></canvas>
        <canvas #canvasGroundtruth id="canvasGroundtruth"></canvas>
        <div id="uniformBackground"></div>
      </div>
  </div>
  </div>
</div>

