<app-tooltips></app-tooltips>
<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="optionsDrawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  Options
  <span class="flexExpand"></span>
  <h1>Segmentation Metric Tutorial</h1>
  <span class="flexExpand"></span>
  Metrics
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="metricsDrawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container" hasBackdrop="false" autosize>
  <mat-drawer #optionsDrawer opened="true" mode="push">
    <div class="flex-vertical options">
      <h2>Drawing</h2>
      <mat-slide-toggle
        class="example-margin"
        [checked]="UICtrlService.performanceMode"
        (change)="UICtrlService.togglePerformanceMode()"
      >
        Performance mode
      </mat-slide-toggle>
      <mat-slide-toggle
        class="example-margin"
        [checked]="UICtrlService.showReference"
        (change)="UICtrlService.toggleReferenceDisplay()"
      >
        Show reference
      </mat-slide-toggle>
      <mat-checkbox
        class="example-margin"
        [checked]="UICtrlService.showOverlayReference"
        (change)="UICtrlService.toggleOverlayReference()"
      >
        Overlay reference
      </mat-checkbox>

      <mat-divider></mat-divider>
      <h2>Metrics</h2>
      <mat-slide-toggle
        class="example-margin"
        [checked]="UICtrlService.showConfMat"
        (change)="UICtrlService.toggleCM()"
      >
        Confusion Matrix
      </mat-slide-toggle>

      <mat-checkbox
        class="example-margin"
        [checked]="UICtrlService.showConfMatLabel"
        (change)="UICtrlService.toggleCMLabel()"
      >
        Show label
      </mat-checkbox>

      <mat-divider></mat-divider>
      <mat-slide-toggle
        class="example-margin"
        [checked]="UICtrlService.showMetrics"
        (change)="UICtrlService.toggleMetrics()"
      >
        Metrics
      </mat-slide-toggle>
      <mat-slide-toggle
        class="example-margin"
        [checked]="UICtrlService.showPerClassMetrics"
        (change)="UICtrlService.togglePerClassMetrics()"
      >
        Per class
      </mat-slide-toggle>

      <div *ngIf="UICtrlService.showMetrics">
        <div
          *ngFor="
            let score of scoresService.scores;
            last as last;
            let i = index
          "
        >
          <mat-checkbox
            class="example-margin"
            [checked]="true"
            (change)="toggleVisibilityScore(i)"
            >{{ score.name }}
          </mat-checkbox>
        </div>
      </div>
      <h2>Tutorial</h2>
      <mat-slide-toggle
        class="example-margin"
        [checked]="UICtrlService.tooltipsActivated"
        (change)="UICtrlService.toggleTooltipVisibility()"
        >Tooltip</mat-slide-toggle
      >
    </div>
  </mat-drawer>
  <mat-drawer class="metric-drawer" #metricsDrawer opened="true" mode="side" position="end" autosize>
    <app-conf-mat *ngIf="UICtrlService.showConfMat" (changeActiveClass)="changeActiveClass($event)"></app-conf-mat>
    <app-metrics *ngIf="UICtrlService.showMetrics" (changeActiveClass)="changeActiveClass($event)"></app-metrics>
  </mat-drawer>
  <app-drawing></app-drawing>
</mat-drawer-container>
