.flexExpand {
  flex: 1 1 auto;
}

mat-drawer{
  padding: 2ch ;
  width: fit-content;
}

mat-drawer-container{
  height: calc(100% - 64px);
}
mat-button-toggle-group{
  width: fit-content;
}
.options{
  gap: 0.5rem;
}
