

mat-drawer{
  padding: 1rem;
  width: fit-content;
}

mat-drawer-container{
  height: calc(100% - 64px);
}
mat-button-toggle-group{
  width: fit-content;
}
.options{
  gap: 0.5rem;
}

mat-toolbar{
  position: sticky;

}

.metric-drawer{
  max-width: 25%;
  width:fit-content;
  overflow-x: scroll;

  font-size: small;
}
