h1{
  a{
    text-decoration: none; /* no underline */
    color: white;
    padding: 10px;
  }
  a:hover{
    border: solid white 1px;
  }
}

@media screen and (max-width: 800px) {
  mat-toolbar button{
    font-size: 0;
  }
}

mat-toolbar button{
  max-width: 100px;

}


mat-toolbar h1{
  margin: auto;
}

mat-toolbar{
  justify-content: space-between;
}

mat-drawer{
  padding: 1rem;
}

mat-drawer-container{
  height: calc(100% - 64px);
}

.options{
  gap: 0.5rem;
}

.metric-drawer{
  max-width: 30vw;
  overflow-x: scroll;
  font-size: small;
}

.spacer{
  padding: 15px;
}

