<div class="metric-container" [ngSwitch]="classService.classes.length > 2">
  <!--Multi-class table-->
  <table *ngSwitchCase="true">
    <!--Headers-->
    <tr>
      <th
      (mouseenter)="UICtrlService.activateTooltip($event, 'Metric')"
      (mouseleave)="UICtrlService.deactivateTooltip()"
      >
      {{ 'Metric' }}
      </th>
      <th
      (mouseenter)="UICtrlService.activateTooltip($event, 'Score')"
      (mouseleave)="UICtrlService.deactivateTooltip()"
      >
      {{ 'Score' }}
      </th>
      <th
      (mouseenter)="UICtrlService.activateTooltip($event, 'Micro')"
      (mouseleave)="UICtrlService.deactivateTooltip()"
      >
      {{ 'Micro' }}
      </th>
      <th
      (mouseenter)="UICtrlService.activateTooltip($event, 'Macro')"
      (mouseleave)="UICtrlService.deactivateTooltip()"
      >
      {{ 'Macro' }}
      </th>
      <th
        *ngFor="let c of classService.classes; let i = index"
        [style.background-color]="classService.getRGBStyleFromClass(i)"
        [ngClass]="{hide: !UICtrlService.showPerClassMetrics}"
      >
        {{ c }}
      </th>
    </tr>

    <tr
      *ngFor="let score of scoresService.scores; let i = index"
      [ngStyle]="{ display: scoresService.visibleScores[i] ? '' : 'none' }"
    >
      <th
        (mouseenter)="UICtrlService.activateTooltip($event, score.name)"
        (mouseleave)="UICtrlService.deactivateTooltip()"
      >
        {{ score.name }}
      </th>
      <td [style.background-color]="this.scoresService.colorScore(score.score)"
      [ngClass]="{selected: isSelectedMetric(score.name, '')}"
      (contextmenu)="toggleScoreSetup($event, score, '')"
      >
        {{
          formatScore(
            score.score,
            score.name == "Kappa" ? false : true,
            score.name == "Kappa" ? 2 : 1
          )
        }}
      </td>
      <td [style.background-color]="this.scoresService.colorScore(score.microAverage)"
      [ngClass]="{selected: isSelectedMetric(score.name, 'micro')}"
      (contextmenu)="toggleScoreSetup($event, score, 'micro')"
      >
        {{ formatScore(score.microAverage) }}
      </td>
      <td [style.background-color]="this.scoresService.colorScore(score.macroAverage)"
      [ngClass]="{selected: isSelectedMetric(score.name, 'macro')}"
      (contextmenu)="toggleScoreSetup($event, score, 'macro')"
      >
        {{ formatScore(score.macroAverage) }}
      </td>
      <td
        [style.background-color]="this.scoresService.colorScore(s)"
        *ngFor="let s of score.perClassScore; let j = index"
        (mouseenter)="changeActiveClass(j)"
        [ngClass]="{
          selected: isSelectedMetric(score.name, j.toString()),
          highlight: classService.currentClass == j,
          fade: classService.currentClass != j,
          hide: !UICtrlService.showPerClassMetrics
        }"
        (contextmenu)="toggleScoreSetup($event, score, j.toString())"
        >
        {{ formatScore(s) }}
      </td>
    </tr>
  </table>

  <!--Binary classification table-->
  <table *ngSwitchCase="false">
    <tr>
      <th
      (mouseenter)="UICtrlService.activateTooltip($event, 'Metric')"
      (mouseleave)="UICtrlService.deactivateTooltip()"
      >
      {{ 'Metric' }}
      </th>
      <th
      (mouseenter)="UICtrlService.activateTooltip($event, 'Score')"
      (mouseleave)="UICtrlService.deactivateTooltip()"
      >
      {{ 'Score' }}
      </th>
    </tr>

    <tr
      *ngFor="let score of scoresService.scores; let i = index"
      [ngStyle]="{ display: scoresService.visibleScores[i] ? '' : 'none' }"
    >
      <th
        (mouseenter)="UICtrlService.activateTooltip($event, score.name)"
        (mouseleave)="UICtrlService.deactivateTooltip()"
      >
        {{ score.name }}
      </th>
      <td [style.background-color]="this.scoresService.colorScore(score.score)"
      (contextmenu)="toggleScoreSetup($event, score, '')"
      [ngClass]="{selected: isSelectedMetric(score.name, '')}"
      >
        {{
          formatScore(
            score.score,
            score.name == "Kappa" ? false : true,
            score.name == "Kappa" ? 2 : 1
          )
        }}
      </td>
    </tr>
  </table>
</div>
