<div class="table-container flex-horizontal">
  <table class="confusion-matrix">
    <tr>
      <td colspan="2" rowspan="2">
          <span></span>
      </td>
      <th [attr.colspan]=classService.classes.length>Groundtruth
      </th>
    </tr>
    <tr>
      <th *ngFor="let class of classService.classes, let i = index" (mouseenter)="changeActiveClass.emit(i)">C. {{class}}</th>
    </tr>
    <tr *ngFor="let class of classService.classes; let isFirst = first; let row = index" (mouseenter)="changeActiveClass.emit(row)">
      <th class=predictedCell *ngIf="isFirst" [attr.rowspan]="classService.classes.length">
        <div>Predicted</div></th>
      <th>C. {{class}}</th>
      <td *ngFor="let class of classService.classes; let col = index" [ngClass]="scoresService.stateCMatrix[row][col]">{{scoresService.confusionMatrix[row][col]}}</td>
    </tr>
  </table>

  <table class="confusion-matrix">
    <tr>
      <td colspan="2" rowspan="2">
          <span></span>
      </td>
      <th [attr.colspan]=classService.classes.length>Groundtruth</th>
    </tr>
    <tr>
      <th *ngFor="let class of classService.classes, let i=index" (mouseenter)="changeActiveClass.emit(i)">C. {{class}}</th>
    </tr>
    <tr *ngFor="let class of classService.classes; let isFirst = first; let row = index" (mouseenter)="changeActiveClass.emit(row)">
      <th class=predictedCell *ngIf="isFirst" [attr.rowspan]="classService.classes.length">
        <div>Predicted</div></th>
      <th>C. {{class}}</th>
      <td *ngFor="let class of classService.classes; let col = index" [ngClass]="scoresService.stateCMatrix[row][col]">{{scoresService.stateCMatrix[row][col]}}</td>
    </tr>
  </table>
</div>
