@import "src/variables.scss";

.TP{
  background-color: $light-green;
}

.TN{
  background-color: $dark-green;
}
.FP{
  background-color: $light-red;
}
.FN{
  background-color: $dark-red;
}

table > tr .predictedCell > div{
  transform: rotate(-90deg);
}

td {
  text-align: center;
  width: 5ch;
}

.table-container{
}


