@import "variables";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  font-size: max(0.8vw, 8px);
}
body
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $light-light-gray;

}

.flex-horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
}



@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.flexExpand {
  flex: 1 1 auto;
}
