@import "variables";

$panelToolGap: 1em;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  font-size: max(0.8vw, 8px);
}
body
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $light-light-gray;
}
.panel-options {
  width: 100%;
  gap: $panelToolGap;
  flex-wrap: wrap;
  mat-slider {
    width: 100%;
  }
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.vertical-center{
  align-items: center;
}
.flex-vertical{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.flexExpand {
  flex: 1 1 auto;
}

#classSelector{
  border: none;
  flex-wrap: wrap;

}
#classSelector .mat-button-toggle-checked {
  filter: brightness(1);
  border: white 1px solid;
}

#classSelector mat-button-toggle {
  filter: brightness(0.5);
  width: fit-content;
}
