$light-green: rgb(131, 216, 129);
$dark-green: rgb(86, 161, 84);

$light-blue: rgb(100, 100, 222);
$dark-blue: rgb(40, 40, 100);

$light-red: rgb(255, 136, 136);
$dark-red: rgb(168, 33, 33);

$dark-gray: rgb(95,95,95);
$light-gray: hsl(0, 0, 65%);
$light-light-gray: hsl(0, 0, 90%);
